.rbc-event.event-azure {
  background-color: #1a97f520;
  color:#1a97f5;
  border-color: #1a97f5;
}

.rbc-event.event-default {
  background-color: #615dff20;
  color:#615dff;
  border-color: #615dff;
}
.rbc-event.event-red {
  background-color: #fc4b6c20;
  color:#fc4b6c;
  border-color: #fc4b6c;
}
.rbc-event.event-green {
  background-color: #39b69a20;
  color:#39b69a;
  border-color: #39b69a;
}
.rbc-event.event-warning {
  background-color: #fdd43f20;
  color:#fdd43f;
  border-color: #fdd43f;
}
.rbc-off-range-bg {
  background-color: #d2d2d20d;
}
.darkbg .rbc-today {
  background-color: #8fbece;
}
.rbc-month-row + .rbc-month-row,
.rbc-day-bg + .rbc-day-bg,
.rbc-header,
.rbc-month-view,
.rbc-toolbar button,
.rbc-time-content > * + * > * {
  border-color: #f6f6f6;
}
.darkbg .rbc-month-row + .rbc-month-row,
.darkbg .rbc-day-bg + .rbc-day-bg,
.darkbg .rbc-header,
.darkbg .rbc-month-view,
.darkbg .rbc-toolbar button,
.darkbg .rbc-time-content > * + * > * {
  border-color: #343e54;
}
.rbc-event{
  border-width: 0 0 0 4px;
    padding: 8px 10px;
    margin-bottom: 1px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: none;
}
.darkbg .rbc-toolbar button {
  color: rgba(255, 255, 255, 0.5);
}
.darkbg .rbc-toolbar button:active,
.darkbg .rbc-toolbar button.rbc-active {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #d2d2d20d;
}
.form-control {
  height: 50px;
  line-height: 40px;
  font-size: 18px;
  width: 100%;
  border-width: 1px;
  padding: 5px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.btn {
  padding: 10px 15px;
  box-shadow: none !important;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.btn-primary {
  background-color: #2b2b2b;
}
.btn-secondary {
  background-color: #1a97f5;
}

@media (max-width: 767px) {
  .rbc-btn-group {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .rbc-toolbar .rbc-toolbar-label {
    margin-bottom: 15px;
    display: block;
  }
  .rbc-calendar {
    height: 60vh !important;
  }
}

.rbc-calendar {
  min-height: 30vh;
}

@media (max-width: 768px) {
  .rbc-month-row {
    height: 10vh; /* Больше пространства */
  }

  .rbc-date-cell {
    padding-top: 8px;
    font-size: 1rem;
  }

  .rbc-event {
    font-size: 0.8rem;
    padding: 2px 4px;
  }

  .rbc-day-bg {
    height: 10vh;
  }

  .rbc-row-content {
    height: 10vh;
  }
}

.calendar-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible; /* Это важно */
  position: relative; /* Нужно для sticky */
}



.custom-event {
  height: auto !important; /* Толще полоска */
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  font-size: 0.85rem;
}

/* responsive-calendar.css */
.responsive-calendar .rbc-month-view {
  min-width: 600px;
}

@media (max-width: 600px) {
  .responsive-calendar .rbc-month-view {
    min-width: 500px;
  }

  .responsive-calendar .rbc-day-bg {
    min-width: 70px;
  }
}


