@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.gradient-background {
    background: linear-gradient(-45deg,
    #26428B,   /* основной */
    #3A57A6,   /* светлее */
    #1B2F66,   /* темнее */
    #4B6BC9    /* ещё светлее */
    );
    background-size: 300% 300%;
    animation: gradientAnimation 12s ease infinite;
    transition: opacity 0.5s ease-in;
}

.gradient-background div, .gradient-background p, .gradient-background span, .gradient-background h6, .gradient-background td  {
    color: #FFF !important;
}

.gradient-background td div span {
    color: green !important;
}

.dialog-container form {
    max-width: 100%;
}

/* Для Chromium (Chrome, Edge, Opera) */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* фиксированная ширина скроллбара */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* цвет дорожки */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* цвет ползунка */
    border-radius: 6px;
    border: 3px solid #f1f1f1; /* отступы */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Для Firefox */
.custom-scrollbar {
    scrollbar-width: thin; /* thin, auto, none */
    scrollbar-color: #888 #f1f1f1; /* thumb и track */
}