/*p {*/
/*    word-wrap: break-word !important;*/
/*}*/

.chat-text div {
    word-break: break-word;
}


.tabs-text div {
    word-break: break-word;
}

.break-word {
    word-break: break-word;
}

@media screen and (max-width: 460px) {
    .MuiListItemAvatar-root {
        min-width: 45px !important;
    }
}

@media (max-width: 600px) {
    .css-gshwue-MuiContainer-root {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.css-19kzrtu {
    padding: 2vh !important;
}

input,
textarea,
select {
    font-size: 16px !important;
}

/* Сделать дни из других месяцев более бледными */
.rbc-off-range {
    color: rgba(0, 0, 0, 0.2) !important; /* Можно изменить значение прозрачности по желанию */
}

@media (min-width: 0px) {
    .css-dku4l0 {
        height: calc(100vh - 100px) !important;
    }
}